/* HEADER */

.main-container{
    /* Largura máxima de 800 viewport (Responsividade) */
    max-width: 800vw; /* 80 só do main e 20% do menu*/
    max-height: 100vh; /* Ocupando 100% da altura */
    margin-left: 320px;
    margin-right: 56px;
}

.header__navigation{
    display: flex;
    justify-content: space-between; /* Distribuir o espaçamento entre os elementos */
    align-items: center;
    padding: 16px;
    margin: 10px;
    border-radius: 8px;
    background-color: #121212;
}

.header__navigation .navigation{
    display: flex;
    justify-content: space-around; /* Centraliza e distribui os espaços em volta do elemento*/
    align-items: center;
}

.header__navigation .navigation .arrow-left{
    margin-right: 1.25rem; /* Responsividade (rem é valor relativo que o tamanho vai depender de terceiros fatores) */
}

.arrow-left, .arrow-right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: var(--bg-icon);
    background-color: var(--bg-arrow-color);
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.header__login{
    display: flex;
    align-items: center;
}

.header__search{
    display: flex;
    align-items: center;
    width: 364px;
    height: 48px;
    margin-left: 8px;
    background-color: var(--bg-search-color);
    border-radius: 500px;
    border: 1px solid transparent;
}

.header__search img{
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.header__search input{
    background: transparent;
    border: none;
    padding: 0px 100px 0px 12px;
    color: var(--search-input-color);
    text-overflow: ellipsis; /* Mostra ... de continuação de um texto extenso */
    overflow: hidden; /* Esconde parte do elemento para ele não passar um tamanho determinado (padding?) */
    white-space: nowrap; /* Deixa o testo em uma linha só */
    outline: none;
}

.header__login .subscribe{
    color: #a7a7a7;
    border: none;
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    margin-right: 32px;
}

.header__login .login{
    width: 100px;
    height: 48px;
    color: var(--btn-login-color);
    font-size: 16px;
    font-weight: 700;
    border-radius: 40px;
}